body {
    overflow-x: hidden;
}

h1 {
    color: rgb(90, 90, 90);
    text-align: center;
}

p {
    color: white;
}

li {
    list-style-type: none;
}

#search-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}




body {
    background-image: url("IMAGES/World_Map.jpeg")
}

.outer {
    display: flex;
    width: 100%;
    /* border: 2px solid green; */
    overflow: hidden;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {

    background-color: rgb(202, 202, 202);
    padding: 30px;
    border: 1px solid black;
    margin: 10px;

}

.card h2 {
    text-align: center;

}

.info-list {
    text-align: center;
    padding-top: 20px;
}

button {
    display: flex;
    float: right;
}

/* .save {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} */

.savedShell {
    border: solid rgb(90, 90, 90);
    /* k 5px; */
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 100px;
}

/* .saved-header header { */
/* display: flex; */
/* color: rgb(90, 90, 90); */
/* text-align: center; */
/* font-size: 45px; */
/* margin-bottom: 100rem; */
/* padding-bottom: 100rem; */