body {
    overflow-x: hidden;
}

h1 {
    color: rgb(184, 184, 184);
    text-align: center;
}

p {
    color: white;
}

li {
    list-style-type: none;
}

#search-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}




body {
    background-image: url("IMAGES/World_Map.jpeg")
}



.outer {
    display: flex;
    width: 100%;
    /* border: 2px solid green; */
    overflow: hidden;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {

    background-color: rgb(202, 202, 202);
    padding: 30px;
    border: 1px solid black;
    margin: 10px;

}

.card h2 {
    text-align: center;

}

.info-list {
    text-align: center;
    padding-top: 20px;
}

button {
    display: flex;
    float: right;
}


.savedShell {
    border: solid rgb(90, 90, 90);
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 100px;
}

#hidden {
    visibility: hidden;
}